@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #4A0000;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #824B4B;
    border-radius: 0px 60px 0px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 2px solid #eeeeee;
}

.profile .profile-image {
    width: 100%;
    border-radius: 100%;
}

.name {
    color: #DFD6D6;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

}

.profession {
    color: #FFAC35;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    color: #FFAC35;
    font-size: 20px;
    left: 167px;
    margin-left: 10px;
}

.contact-info ul {
    padding-top: 1.5rem;
    margin-left: 21px;
}

.contact-info ul li,
.references ul li {
    padding: .4rem 0;
    color: #DFD6D6;
}

.contact-info ul li i,
.references ul li i {
    padding-right: 1rem;
    font-size: 18px;
    color: #DFD6D6;
}

.skills ul {
    padding-top: 1.5rem;
    margin-left: 32px;
}
.skills ul li p {
    padding: .4rem 0;
    color: #DFD6D6;
}

.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: #4A0000;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 32px;
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
    font-size: 18px;
    color: #FFFAFA;
    margin-left: 21px;
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    color: #FFFAFA;
    margin-left: 21px;

}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 25px;
    font-weight: bold;
    color: #FF9D11;
    margin-left: 32px;
}

.exp-time-period,
.education-time-period,
.awards-time-period {
    font-size: 18px;
    margin-left: 32px;
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;
    color: #FF9D11;
    margin-left: 32px;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    padding-left: 5px;
    margin-left: 32px;
}